__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
*.sqlite
.git
.gitignore
.pytest_cache
.coverage
htmlcov/
cache/
database/
mangal_project_env/
*bak*
.vscode
DOCKER_GUIDE.md
.cursorignore
requirements_new.txt
requirements_bak.txt
render.yaml 
logs/
